{% extends "base.html" %}

{% block content %}
<h1>Privacy Policy</h1>
<p>Heyo.</p>
<p>If you weren't already aware, this site doesn't have ads, isn't run by Google, anything like that.
    We don't want your data. Ew. You can keep it. Who wants freshman data?</p>
<p>We only store data you give to us. If you don't want the data to be stored, delete it using the site.
    If that isn't possible, shoot us an email. It's that simple.</p>
<p>Questions? Comments? Concerns? Deep fears? Wishes? Dreams? Hopes? Just send us an email.
    It's that simp&mdash; oh wait I said that already.</p>
{% endblock content %}