{% extends "base.html" %}

{% block content %}
{% if current_user.role > 3 %}
<p>you are the magic magic man</p>
{% endif %}
<h3 id="quotes">Quotes Requiring Decision</h3>
{% for quote in quotes %}
{% if not quote.moderated %}
{% include "widgets/quote.html" %}
{% endif %}
{% endfor %}
<hr>
<h3 id="everything">Everything, Everything</h3>
<h4>Users</h4>
{% for user in users %}
{% include "widgets/user.html" %}
{% endfor %}
<h4>Speakers</h4>
{% for speaker in speakers %}
<a href="/speaker/{{ speaker.id }}">{{ speaker.name }}</a>
{% endfor %}
{% endblock content %}
