<header>
  <div>
    <a href="{{ url_for('index') }}" id="site-title">WaykiLeaks.org</a>
    <p id="tagline">Quotation Without Representation</p>
  </div>
  <div><a href="{{ url_for('quote_list') }}">quotes</a></div>
  {% if current_user.is_anonymous %}
  <div></div>
  <div><a href="{{ url_for('login') }}">log in</a></div>
  {% else %}
  <div><a href="{{ url_for('submit') }}">submit a quote</a><br><a href="{{ url_for('my_quotes') }}">my quotes</a></div>
  <div>
    <span><a href="{{ url_for('user_profile', username=current_user.username) }}">{{ current_user.username }}</a><br>
    <a href="{{ url_for('logout') }}">log out</a></span>
  </div>
  {% endif %}
</header>
<p style="color: red; font-weight: bold;">WARNING: This is an alpha. Expect sudden changes, broken thing thangs, and stuff removal.</p>
