<section class="box">
<h2><a href="{{ url_for('user_profile', username=user.username ) }}" class="topage">{{ user.username }}</a>
    {% if user.role > 1 %}
    <sup>{% if user.role == 3 %}⁑
        {% elif user.role == 4 %}⁂
        {% else %}*{% endif %}</sup>{% endif %}</h2>
<p class="karma">Karma: {{ user.get_karma() }}
<br>
{% if not current_user.is_anonymous %}
{% if current_user.role > 2 %}
    {{ user.email }}
    {% if user.get_existence() %}<a href="/ban/{{user.username}}/">defenestrate</a>
    {% else %}<a href="/unban/{{user.username}}/">refenestrate</a>{%endif%}
<a href="/promote/{{user.username}}">promote</a> | <a href="/demote/{{user.username}}">demote</a>
{% endif %}
{% endif %}

{% if showstats %}<h2>Stats</h2>
<p><b>Submitted Quotes:</b> {{ user.submissions|length }}<br>
<b>Approved Quotes:</b> {{ user.get_approved_count() }}</p>
{% endif %}

{% if showquotes %}
{% for quote in user.submissions %}{% if quote.published %}
<hr>
{% include "widgets/quote.html" %}
{% endif %}{% endfor %}
{% endif %}
</section>