{% extends "base.html" %}

{% block content%}
<h1>Credits</h1>

<h2>WaykiLeaks.org</h2>
<p><b>Developer</b> S. Baumann<br>
WaykiLeaks is open source &amp; MIT licensed - <a href="https://gitlab.com/spebnep/waykileaks">gitlab.com/spebnep/waykileaks</a></p>

<h2>Way Words</h2>
<p><b>Chief Editor</b> S. Baumann<br>
<b>Editor</b> J. Battey<br>
<b>Editor</b> S. Grabill<br>
<b>Editor</b> M. Klynstra<br>
<b>Contributor</b> E. Leyrer<br>
<b>Contributor</b> H. Norman</p>

<p><b>Brian Way</b> Brian Way (dog)</p>

<p>Some images on WaykiLeaks are from Wikimedia Commons and are property of
    their respective owners. Attribution is given on pages where such images
    are displayed.</p>
{% endblock %}
